#ul {
  background-color: rgb(28, 221, 228);
  padding: 1%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: auto;
}
#li {
  margin: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(233, 18, 65);
  background-color: whitesmoke;
}
.contact {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
  background-color: rgb(190, 188, 186);
  color: rgb(48, 2, 48);
}
.form {
  margin: 10%;
  padding: 10%;
}
#inputt {
  width: 100%;
}
#App {
  width: 100%;
  text-align: center;
  font-size: larger;
  background-color: aqua;
}
